/*
 * Загальні стилі
 */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*
 * Стили Gallery
 */
a.gallerylink:active, /* активная/посещенная ссылка */
a.gallerylink:hover,  /* при наведении */
a.gallerylink {
  text-decoration: none;
  color: #000000;
}

.gallery {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: calc(100vw - 48px);

  list-style: none;
}

.galleryItem {
  justify-content: center;
  align-items: center;
  display: inline-block;

  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 500ms;
}

.galleryItem:hover,
.galleryItem:focus {
  box-shadow: 0px 5px 30px 0px rgba(0, 145, 255, 0.774);
  transform: scale(1.01);
}

.galleryTitle {
  margin-top: 4px;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  padding: px 10px; /* Поля вокруг текста */
  font-size: large;
}

.galleryVote {
  font-size: large;
  font-weight: 700;
  padding: 4px 0px; /* Поля вокруг текста */
}

.galleryOverview {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  background: #fc0; /* Цвет фона */
  padding: 5px 20px; /* Поля вокруг текста */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

/*
 * Стиль кнопки Повернутися
 */
.btn {
  display: inline-block; /* Строчно-блочный элемент */
  margin-bottom: 10px;
  padding: 8px 125px; /* Поля вокруг текста */

  background: #8c959d; /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */

  transition: all 500ms;
}

.btn::after {
  content: ' \21A4';
}

.btn:hover {
  color: #fff; /* Белый цвет текста */
  background: #6d747a; /* Серый цвет фона */
}

/*
 * Стиль статусів запитів
 */
.idle,
.pending,
.resolved,
.rejected {
  text-align: center;
}

/*
 * Стилі картки фільму
 */
.card {
  display: flex;
}

.description {
  margin-bottom: 60px;
  text-align: justify;
}

.description > h1 {
  margin-bottom: 15px;
}

.posterImg {
  margin-right: 20px;
}

p.movieDetails {
  margin-bottom: 10px;
}

.movieDetails_subTitle {
  font-weight: bold;
}

.genresList {
  display: inline-flex;
  white-space: pre;
}

.additionalInfo_list {
  display: inline-flex;
  white-space: pre; /* Запрещаем перенос строк */
}

/*
 * Стилі Additional information
 */
.additionalInfo > h2 {
  margin-bottom: 15px;
}

.additionalInfoList {
  background-color: gray;
  padding: 5px 10px;

  display: inline-flex;
  margin-bottom: 15px;
  white-space: pre;
  border-radius: 5px;
}

.additionalInfoList_Item {
  margin: 1px;
  padding: 10px 20px;
}

.additionalInfoList_menuItem {
  color: #fff;
  font-weight: bold;
}

.additionalInfoList_menuItemActive {
  color: #1e70bf;
  font-weight: bold;
}

/* відгуки */
.reviewsList_Item {
  margin-bottom: 20px;
  text-align: justify;
}

.authorTitle {
  display: flex;
}

.authorName {
  margin-right: 15px;
}

.authorRating {
  padding: 1px 10px;
  margin-right: 15px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
}

.authorRating::before {
  content: ' \2606';
  margin-right: 5px;
}

.authorCreated {
  font-style: italic;
  color: gray;
}

/* 
*  Стилі Cast
*/

.authorInfo {
  /* display: flex; */
}
